/* note the same styling elements as previously in the html file */
	body {
		background-color: orange;
		color: red;
		font-family:Times New Roman;
		}
	
	h1 {color: blue;}
	
		
	
	
	


	
